.addEventOption{
    width: 100%;
}
.addEvent-filtering{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(197, 197, 197);
}
.eventForm{

        
}
.evntPreview{

    background-color: #E7E7E7;

}
.formColumn{
    width: 35rem;
    
}
.addEventContent{
    display: flex;
    gap:2rem;
    align-items: center;
    justify-content: center;
}