.approve-option{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:1rem
}
.event-approval-content{
    display: flex;
    width: 100%;
    gap: 2rem;
}