.App-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: clamp(1rem,2%,100%);
    font-size: clamp(1rem,2%,100%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* gap: 7rem; */
  }
  #searcher{
    background: #E7E7E7;
    border-radius: 10px;
    width: clamp(10rem,30vw,70vw);
    height: clamp(5rem,15vw,100vw);
    border: none;
    
  }
  .header-content{
    display: flex;
    align-items: center;
    justify-content: left;
    gap:2vw;
    width: 90rem;
  }
  .main-logo{
    cursor: pointer;
    width: clamp(1rem,30rem,30vw);
  }
  .login-nav-login{

  }