.search-content{
    display: flex;
    
}
.search-button{
    background-color: #93BB60;
    border:none;
    display: flex;
    width: 5rem;
    border-radius: 0 1rem 1rem 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .search-button:hover{
    background-color: #addb70;
  }
  .search-button img{
    width: 2.5rem;
  }