table.summart-table {
    width: 90%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #93BB60;
    border-style: solid;
    color: #000000;
  }
  
table.summart-table th {
    border-width: 2px;
    border-color: #93BB60;
    border-style: solid;
    padding: 5px;
    color: white;
}
table.summart-table td{
    border-width: 2px;
    border-color: #93BB60;
    border-style: solid;
    color: #93BB60;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
}
  
  table.summart-table thead {
    background-color: #93BB60;
  }
.ticket-info{
    text-align: left;

}
.ticket-img{

}
.ticket-img img{
    width: 300px;
    height: 150px;
    object-fit:cover;
}
.summary{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    gap: 1rem;
}