.trendy-content{
    display: flex;
    flex-direction: row;
    display: flex;
    gap: 16px;
    margin-bottom: 70px;
}
.trendy-event{
    width: 25%;
    text-align: center;
    position: relative;

}
.trendy-info{
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 20%;
    transition: .5s ease;
    border-radius: 0px 0px 2vw 2vw;
}
.trendy-event:hover .trendy-info{
    background-color: #ffffff;
    bottom: 0;
    height: 55%;
    border-radius: 2vw 2vw 2vw 2vw;
    
}
.trendy-event-img{
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    border: none;
    border-radius: 2vw 2vw 2vw 2vw;
}

.trendy-title{
    color: #93BB60;
    font-size: 1.8vw;
    font-weight: 600;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
.trendy-place{
    font-weight: 800;
    font-size: 1vw;
}
.trendy-price{
    font-weight: 800;
    font-size: 1vw;
}
.trendy-buy-button{
    background-color: #93BB60;
    width: 40%;
    height: 30%;
    border-radius: 3vw;
    border: none;
    color: white;
    font-size: 1vw;
    font-weight: 800;
}
.trendy-header{
    -webkit-text-stroke: 1px black;
    color: #AEDF70;
    font-size: 40px;
    font-weight: 800;
}
@media(max-width: 700px){
    .trendy-content{
        overflow: auto;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .trendy-event{
        width: 90vw;
    }
    .trendy-event-img{
        width: 90vw;
    }
}